<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body class="body text-center" style="background-color: #14213D">
<div >
    <div class="cont_error" style="text-align: center; margin-top: 250px ">
        <h1 style="color: #FCA311">your Account is Already Active</h1>
        <a th:href="@{http://34.101.198.49:8090/}" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #3cbeb2; display: inline-block;">Go To M-ASK Page</a>
    </div>
</div>
</body>
</html>
